<form>
  <div class="form-group">

    <label for="id">Title</label>
    <input type="text" required class="form-control" id="id">
  </div>
  <div class="form-group">

    <label for="title">Title</label>
    <input type="text" required class="form-control" id="title">
  </div>
  <div class="form-group">

    <label for="author">Title</label>
    <input type="text" required class="form-control" id="author">
  </div>
  <div class="form-group">

    <label for="quoteDescription">Title</label>
    <input type="text" required class="form-control" id="quoteDescription">
  </div>
  <div class="form-group">
    <label for="complete">Completion</label>
    <input type='date' id="complete" required>

  </div>
</form>
